{{!-- src/pages/organization-health/partials/nps-legend.hbs --}}
<div class="card shadow-sm">
  <div class="card-body">
    <h3 class="h5 mb-3">NPS Score Legend</h3>
    <div class="d-flex gap-4">
      <div>
        <span class="badge p-2" style="background-color: #93c47d">9-10</span>
        <span class="ms-2">Promoters</span>
      </div>
      <div>
        <span class="badge p-2" style="background-color: #ffd966">7-8</span>
        <span class="ms-2">Passives</span>
      </div>
      <div>
        <span class="badge p-2" style="background-color: #ff4d4d">0-6</span>
        <span class="ms-2">Detractors</span>
      </div>
    </div>
  </div>
</div>